<md-dialog aria-label="List dialog" class="matched">
    <md-dialog-content layout="column" layout-align="center center">
        <h1>Its a Match</h1>
        <div layout="row">
            <dynamic-image src="mCtrl.me.photos[0].value" class="image-icon medium md-whiteframe-z1" alt="{{mCtrl.me.displayName}}"></dynamic-image>
            <dynamic-image src="mCtrl.user.photos[0].value" class="image-icon medium md-whiteframe-z1" alt="{{mCtrl.user.displayName}}"></dynamic-image>
        </div>
        <div>
            You and {{mCtrl.user.displayName | firstName}} have liked each other!
        </div>
        <div layout="row">
            <md-button class="match-options md-whiteframe-z1" ng-click="mCtrl.close()">
                Message
            </md-button>
            <md-button class="match-options md-whiteframe-z1" ng-click="mCtrl.close()">
                Keep Playing
            </md-button>
        </div>
    </md-dialog-content>
</md-dialog>
