md-dialog.matched {
    background-color: transparent;
    box-shadow: none;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    h1 {
        color: white
    }
    .md-button.match-options{
    	border-style:solid;
    	border-width:1px;
    	border-color:#ffffff
    }
}
