<md-toolbar class="md-accent md-hue-1">
    <div class="md-toolbar-tools" layout="column">
        <h1>Messages</h1>
        <div flex></div>
        <md-button aria-label="Close Right Panel" class="md-icon-button" ng-click="rightPanel.close($event)" hide-gt-md>
            <md-icon md-svg-icon="content:ic_clear_24px" aria-label="Left Menu"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-content flex layout="column">
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="user in rightPanel.users">
            <div layout="column" layout-align="center center" layout-padding>
                <dynamic-image src="user.photos[0].value" class="image-icon medium md-whiteframe-z1" alt="{{user.displayName}}"></dynamic-image>
            </div>
            <div class="md-list-item-text">
                <h3>{{user.displayName}}</h3>
                <h4>Start the conversation</h4>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-content>
