<div layout="column" flex layout-padding>
    <div flex class="card-container" layout-fill ng-class="{centered:main.queryMedia('gt-sm')}" ng-show="profilePanel.profile_user">
        <md-card class="stacked z1" md-padding layout="column" layout-padding>
            <dynamic-image src="profilePanel.profile_user.photos[0].value" layout="column" flex fit="true"></dynamic-image>
            <div layout="row" layout-padding md-padding>
                <span>{{profilePanel.profile_user.displayName}}</span>
                <span flex></span>
            </div>
            <div layout-padding>
                <md-subheader>Interests</md-subheader>
                <md-padding>
                    <md-chips ng-model="profilePanel.profile_user.interests" readonly="!profilePanel.isMe()" placeholder="What are you interested in?" md-on-append="profilePanel.updateInterests($chip)"></md-chips>
                </md-padding>
            </div>
        </md-card>
    </div>
    <div flex layout-fill ng-show="!profilePanel.profile_user" layout-align="center center" layout="column">
        <div align="center">
            <h3>
                profilePanel.profile_user Doesn't Exist
            </h3>
        </div>
    </div>
</div>
<div class="seperator"></div>
