.main-panel {
    .actions-panel {
        padding: 25px;
    }
    .seperator {
        height: 10px
    }
    .card-container {
        position: relative;
        padding: 0px;
        .frame {
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .centered {
        width: 500px;
        max-width: 100%;
    }
    .stacked {
        position: absolute;
        margin: 0%;
        margin-left: 0%;
        width: 100%;
        height: 100%;
        border-style: solid;
        border-width: 3px;
        border-color: #cccccc;
        opacity: 1;
        z-index: 8;
        -ms-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .stacked:hover {
        cursor: pointer
    }
    .stacked.like {
        -ms-transform-origin: 100% 0%;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
    .stacked.ng-move,
    .stacked.ng-enter,
    .stacked.ng-leave {
        transition: margin-left linear 1s, opacity 1s, top 1s, transform 1s;
        -webkit-transition: margin-left linear 1s, opacity 1s, top 1s, transform 1s;
        opacity: 1;
        z-index: 11
    }
    .stacked.ng-leave.ng-leave-active,
    {
        margin-left: -100%;
        opacity: 0;
        z-index: 11;
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .stacked.like.ng-leave.ng-leave-active,
    {
        margin-left: 100%;
        opacity: 0;
        z-index: 11;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .stacked.ng-leave,
    {
        margin-left: 0%;
    }
    .stacked.z1 {
        z-index: 10
    }
    .stacked.z2 {
        top: 1vh;
        z-index: 9
    }
    .stacked.z3 {
        top: 2vh;
        z-index: 8
    }
    .action {
        border-style: solid;
        border-color: #cccccc;
        border-width: 5px;
        position: relative;
        background-color: white
    }
    .action.small {
        width: 70px;
        height: 70px;
        margin: -25px;
        top: -15px;
        z-index: 0
    }
    .action.large {
        width: 90px;
        height: 90px;
        margin: 0px;
        z-index: 5
    }
}
