.signin-header {
    text-shadow: 2px 2px 2px #666666;
    .md-toolbar-tools {
        background-color: rgba(0, 0, 0, 0);
    }
    .logo {
        margin-right: 10px;
        text-shadow: 2px 2px 2px #000000
    }
    md-toolbar.header {
        background-color: rgba(0, 0, 0, 0);
    }
    md-toolbar{color:white;text-shadow:2px 2px 2px #000000}
}
